<?xml version="1.0" ?>

<plugin id="hybrid.query.view" version="0.9.2.NMQueryTab">
   <extension id="ViewComponent" point="org.protege.editor.core.application.ViewComponent">
      <label value="NM Query"></label>
      <headerColor value="@org.protege.classcolor"/>
      <class value="hybrid.query.views.ViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
   </extension>
   <extension id="RulesViewComponent" point="org.protege.editor.core.application.ViewComponent">
      <label value="NM Rules"></label>
      <headerColor value="@org.protege.classcolor"/>
      <class value="hybrid.query.views.RulesViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
   </extension>
   <extension id="RulesManagerViewComponent" point="org.protege.editor.core.application.ViewComponent">
      <label value="NM Rule Editor"></label>
      <headerColor value="@org.protege.classcolor"/>
      <class value="hybrid.query.views.RulesManagerViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
   </extension>
   <extension id="WorkspaceTab" point="org.protege.editor.core.application.WorkspaceTab" version="0.9.2">
      <label value="NM Query"></label>
      <headerColor value="@org.protege.classcolor"/>
      <class value="hybrid.query.views.WorkspaceTabQuery"></class>
      <index value="Y"></index>
      <editorKitId value="OWLEditorKit"></editorKitId>
      <defaultViewConfigFileName value="viewconfig-querytab.xml"></defaultViewConfigFileName>
   </extension>
   <extension id="RulesManagerTab" point="org.protege.editor.core.application.WorkspaceTab">
      <label value="NM Rules"></label>
      <headerColor value="@org.protege.classcolor"/>
      <class value="hybrid.query.views.RulesManagerTab"></class>
      <index value="X"></index>
      <editorKitId value="OWLEditorKit"></editorKitId>
      <defaultViewConfigFileName value="viewconfig-rulesmanagertab.xml"></defaultViewConfigFileName>
   </extension>
   
</plugin>
